include CHANGELOG.md
include CODE_OF_CONDUCT.md
include CONTRIBUTING.md
include LICENSE
include README.md
include README.zh-CN.md
include SECURITY.md
include action.yml
include .pre-commit-hooks.yaml
recursive-include assets *.png *.svg
recursive-include docs *.md
recursive-include examples *.py *.yml
recursive-include schemas *.json
recursive-include scripts *.ps1
recursive-include tests *.py
